@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: grey;
  }

a{
    text-decoration: inherit;
    color: inherit;
}

.app {
    min-height: 98.5vh;
    border: 8px solid #39445a93;
    margin: 5px;
    padding: 5px;
    background-image: url("../public/302383.png");
    background-size: cover;
  }
  @media (max-width:800px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner{
        width:85%;
        padding:0;
        padding-top:20px;
    }
    .settings{
        width:100%;
    }
  }

  .settings_select {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 0.8;
    justify-content: space-evenly;
  }
